# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# Pycharm stuff
.DS_Store
~*
*~
*.pyc
 /.idea/

#updated ontology files
Climate_Mind_Digraph_Test_Ont.json
Climate_Mind_DiGraph.gpickle
output.csv
PUT_NEW_OWL_FILE_IN_HERE/*
climate_mind_ontology

*.owl
*.gpickle


#node

/node_modules