version: 2.1
orbs:
  azure-acr: circleci/azure-acr@0.2.0
  node: circleci/node@3.0.0
  python: circleci/python@1.0.0
  cypress: cypress-io/cypress@1

jobs:
  lint:
    executor: python/default
    steps:
      - checkout
      - run:
          name: Install Black
          command: pip install black
      - run:
          name: Linter
          command: python3 -m black --check ./
  build:
    machine: true
    steps:
      - checkout
      # build the application image
      - run:
          name: Docker Build
          command: docker build -t $DOCKER_REGISTRY_NAME/climatemindbackend:$CIRCLE_BUILD_NUM .
  cypress:
    # Set up test environment and run cypress tests
    machine:
      image: ubuntu-2004:202010-01
    steps:
      - checkout
      - run:
          name: Install Node Dependencies
          command: npm i
      - run:
          name: Docker Compose Build
          command: docker-compose build
      - run:
          name: Docker Compose Up
          command: docker-compose up -d
      - run:
          name: Wait on Server
          command: npx wait-on http://localhost:5000/questions
      - run:
          name: Cypress Run
          command: npx cypress run

workflows:
  version: 2

  build_and_test:
    jobs:
      - lint
      - build:
          requires:
            - lint
          context:
            - flaskenv
      - cypress:
          requires:
            - lint
          context:
            - flaskenv

  build-deploy:
    jobs:
      - azure-acr/build-and-push-image:
          context: azure
          dockerfile: Dockerfile.prod
          login-server-name: acrwebprod001.azurecr.io
          registry-name: acrwebprod001
          repo: backend
          filters:
            branches:
              only: master
      - azure-acr/build-and-push-image:
          context: azure
          dockerfile: Dockerfile.prod
          login-server-name: acrwebtest001.azurecr.io
          registry-name: acrwebtest001
          repo: backend
          filters:
            branches:
              only: develop
